# Build outputs
bin/
obj/
build/
publish/
out/

# Android
*.apk
*.aab
android-client/app/build/
android-client/.gradle/

# Logs
*.log

# IDE
.idea/
.vs/
*.suo
*.user

# Certificates
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Test
test/
